<a href="https://colab.research.google.com/github/EidMuhammadlaghari/Data_science/blob/main/20SW009_lab_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Roll number: 20sw009.
section: 01
lab: 2

**Task 1**

In [ ]:
points = 174

result = ""

if points >= 1 and points <= 50:
    result = "wooden rabbit"
elif points > 50 and points <= 150:
    result = "no prize"
elif points > 150 and points <= 180:
    result = "water-thin mint"
elif points > 180 and points <= 200:
    result = "penguin"
else:
    result = "error"

print(result)

water-thin mint

**Task 2**

In [ ]:
answer = 42
guess = int(input("Enter your guess: "))
if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

print(result)

Enter your guess: 42
Nice! Your guess matched the answer!

**Task 3**

In [ ]:
tax_rates = {
    "CA": 0.075,  # 7.5%
    "MN": 0.095,  # 9.5%
    "NY": 0.089,  # 8.9%
}

amount_of_purchase = float(input("Enter the amount of the purchase: "))
state = input("Enter the state (CA, MN, or NY): ")

if state in tax_rates:
    tax_rate = tax_rates[state]
    tax_amount = amount_of_purchase * tax_rate
    total_amount = amount_of_purchase + tax_amount

    print(f"Tax amount: ${tax_amount:.2f}")
    print(f"Total amount including tax: ${total_amount:.2f}")
else:
    print("Invalid state. Please enter CA, MN, or NY.")

Enter the amount of the purchase: 23
Enter the state (CA, MN, or NY): CA
Tax amount: $1.72
Total amount including tax: $24.73

**Task 4**

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

**Task 5**

In [ ]:
for i in range (1, 30):
  if i%5==0 :
    print(i)

5
10
15
20
25

**Task 6**

In [ ]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = names[0]

print(first_names)

Morty Smith

**Task 7**

In [ ]:
multiples_3 = [i * 3 for i in range(1, 20)]

# Print the list
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

**Task 8**

In [ ]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

**Task 9**

In [ ]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

# Using zip to combine the lists and then converting to a dictionary
cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

**Task 10**

In [ ]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# Using enumerate to modify each element in the cast list
for index, name in enumerate(cast):
    height = heights[index]
    cast[index] = f"{name} {height}"

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']